{{- if or .Params.author site.Params.author }}
  {{- $author := (.Params.author | default site.Params.author) }}
  {{- $author_type := (printf "%T" $author) }}

  {{- if (or (eq $author_type "[]string") (eq $author_type "[]interface {}")) }}
    {{- $names := (delimit $author ", " ) }}
    by <a href="{{ .Site.BaseURL }}editorial/" class="post-author-link">{{ $names }}</a>
  {{- else }}
    by <a href="{{ .Site.BaseURL }}editorial/" class="post-author-link">{{ $author }}</a>
  {{- end }}
{{- else }}
  by <a href="{{ .Site.BaseURL }}editorial/" class="post-author-link">Nailak Editorial</a>
{{- end }}
